NEXT_PUBLIC_API_URL=https://<api-id>.execute-api.ap-south-1.amazonaws.com/dev
NEXT_PUBLIC_WS_URL=wss://<ws-api-id>.execute-api.ap-south-1.amazonaws.com/dev
NEXT_PUBLIC_USER_POOL_ID=ap-south-1_XXXXXXXXX
NEXT_PUBLIC_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_COGNITO_DOMAIN=<domain-prefix>.auth.ap-south-1.amazoncognito.com
NEXT_PUBLIC_SIGNIN_REDIRECT=http://localhost:3000/callback
NEXT_PUBLIC_SIGNOUT_REDIRECT=http://localhost:3000
